<!-- Modal -->
<div class="modal fade" id="Modalpersonaadmineditar{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      
      <form action="" method="POST">
      
        <input type="hidden" name="id_persona" value="{{ user.id }}">
        {% csrf_token %}

        <label for="">Nombre</label>
        <input type="text" class="form-control" value="{{ user.first_name}}" aria-label="nombre" aria-describedby="basic-addon1" name="first_name" required>
        <br>

        <label for="">Usuario</label>
        <input type="text" class="form-control mt-2" value="{{ user.username }}" aria-label="username" scribedby="basic-addon1" name="username" required>
        <br>
        
        <label for="">Contraseña</label>
        <input type="text" class="form-control mt-2" value="{{ user.password }}" aria-label="Password" aria-describedby="basic-addon1" name="password" required>
       <br>

        <label for="">Rol</label>
        <select value="" name="rol" id=""class="form-control">
             
          {% if request.user.groups.all %}
                   <option value=""> {{ request.user.groups.all.0.name }}</option>
                {% else %}
                    Sin grupo
                {% endif %}
         



             {% for grou in groups %}
                    <option value="{{ grou.id }}">{{ grou.name }}</option>
                {% empty %}
                    <option disabled>No hay grupos disponibles</option>
                {% endfor %}
        </select>

       
      </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
   
      </div>
    </div>
  </div>
</div