<div class="modal fade" id="Modalpersonaadmineditar{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      <form action="{% url 'edit_user' user.id %}" method="POST">
      
        {% csrf_token %}

        <label for="">Nombre</label>
        <input type="text" class="form-control" value="{{ user_to_update.first_name }}" aria-label="nombre" aria-describedby="basic-addon1" name="first_name">
        <br>

        <label for="">Usuario</label>
        <input type="text" class="form-control mt-2" value="{{ user_to_update.username }}" aria-label="username" scribedby="basic-addon1" name="username">
        <br>
        
        <label for="">Contraseña</label>
        <input type="text" class="form-control mt-2" placeholder="Dejar en blanco para no cambiar" aria-label="Password" aria-describedby="basic-addon1" name="password">
       <br>

        <label for="">Rol</label>
        <select name="rol" class="form-control">
             
          {% for group in groups %}
              <option value="{{ group.id }}" {% if group == current_group %}selected{% endif %}>
                  {{ group.name }}
              </option>
          {% empty %}
              <option disabled>No hay grupos disponibles</option>
          {% endfor %}
        </select>

      </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>