{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Enlace a Bootstrap CSS (puedes usar un CDN o descargar los archivos) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/nuevo.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">

</head>
<body class="fondo">

        {% block content %}
 
        {% endblock %}
      
    <!-- <?php  include "config/videoplayer.php";  ?> Enlace a Bootstrap JS y jQuery (necesarios para algunas funcionalidades de Bootstrap) -->
   
    <script src="{% static 'estilos/js/videoplayer.js' %}" ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>    